{#
/**
 * @file
 * Template implementation for the media_power_bi theme hook.
 *
 * Available variables:
 * - url: (string) The embed url for the Power BI visualization.
 */
#}
<iframe src="{{ url }}"></iframe>
